-
    const defaultReviewCardProps = {
        classes: '',
        text: '',
        photo: '',
        name: '',
        position: '',
    }

mixin review-card(props = defaultReviewCardProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultReviewCardProps.classes,
            text: props.text ? props.text : defaultReviewCardProps.text,
            photo: props.photo ? props.photo : defaultReviewCardProps.photo,
            name: props.name ? props.name : defaultReviewCardProps.name,
            position: props.position ? props.position : defaultReviewCardProps.position,
        }

    .review-card(class=checkProps.classes)&attributes(attributes)
        .review-card__icon
            img(src="img/quotes.svg")
        +show-more
            .review-card__text.text__24!= checkProps.text
        .review-card__author
            .review-card__photo
                img(src=checkProps.photo alt=checkProps.name)
            div
                .review-card__name!= checkProps.name
                .review-card__position!= checkProps.position

